@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Kanit", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 2rem 0;
  font-weight: 400;
}

main {
  display: flex;
  flex-direction: column;
  border: 1px solid #9AD3BC; /* Assuming $green is green */
  align-items: center;
  width: fit-content;
}

section {
  display: flex;
  width: 70rem;
  margin-bottom: 2rem;
}

.button {
  border: 1px solid #ffd700; 
  text-transform: uppercase;
  width: fit-content;
  padding: 0.3rem 1.5rem;
  background-color: #9AD3BC; 
  border-color: #9AD3BC; 
  color: black; 
  font-weight: 500;
  font-family: "Kanit", sans-serif;
  border-radius: 0.25rem;
  font-size: 1rem;
  margin-right: 0.25rem;
}

.button:hover {
  background-color: #008000; 
  border-color: #ffff00; 
  cursor: pointer;
}

.button:focus {
  outline: none;
  border-color: #ffff00; 
  background-color: #ffff00; 
  color: #ffffff; 
}

.button.addTask {
  font-size: 3rem;
  padding: 0 0 0.4rem 0;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 1rem;
  margin-top: 2rem;
}

.button.moveTask {
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem;
  margin-bottom: 0;
  line-height: 1rem;
}

.button.delete {
  background-color: #ffc0cb; /* Assuming $pink is pink */
  border-color: #ffc0cb; /* Assuming $pink is pink */
}

.button.delete:hover {
  background-color: #ff0000; /* Assuming $red is red */
  border-color: #ff0000; /* Assuming $red is red */
}

@media only screen and (max-width: 75rem) {
  section {
    width: 100%;
    flex-direction: column;
  }
}
